.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

 .dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
} 

 h1 {
   margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;  
} 

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.play{
  width: 70%;
  margin: auto;
  text-align: center;
  
}
.how-to-play{
  width: 25%;
  text-align: left;
  position: absolute;
  margin: -20% -10%;
}
.how-to-play-text{
  color: white;
  text-align: center;
  font-size: 3.4rem;


}
.how-to-play-steps{
  color: white;
  margin-top: -10px;
  font-family: Arial, sans-serif;
}
.play-button{
  margin: 5%;
  padding: 10px 8%;
  border-radius: 25px;
  /* font-size: 2rem; */
  color: #4ECCA3;
  font-weight: bold;
  font-size: 3.4rem;
  /* font-family: 'Indie Flower', cursive; */

}
.play-button:hover{
  background-color: #4ECCA3;
  color: white;

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

} 
@media(max-width: 1300px){
  .how-to-play{
    visibility: hidden;
  }
}
